{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>Welcome to {{name}}</h1>
  <p>
    This application clean texts and analyse the number of word, characters and
    most frequent words in the text. Check it out by click text analyzer at the
    menu. You need the following technologies to build this web application:
  </p>
  
  <ol class="main-list">
    <li class="category-item">Front End
      <ul class="tech-list">
        {% for tech in front_techs %}
        <li class="tech">{{tech}}</li>
        {% endfor %}
      </ul>
    </li>
    
    <li class="category-item">Back End
      <ul class="tech-list">
        {% for tech in back_techs %}
        <li class="tech">{{tech}}</li>
        {% endfor %}
      </ul>
    </li>
  </ol>
</div>
{% endblock %}